<h2>All questions</h2>

<% @questions.each do |question| %>
  <p> Question <%= question.id %>...</p>
<% end %>

<% @questions.each do |question| %>
<!--  <p> <%#= link_to "Question #{question.id}", "/questions/#{question.id}" %></p>-->
<!--  <p> <%#= link_to "Question #{question.id}", question_path(id: question.id) %></p>-->
<!--  <p> <%#= link_to "Question #{question.id}", question_path(question.id) %></p>-->
  <p> <%= link_to "Question #{question.id}", question_path(question) %></p>
<% end %>

